extends layout

block append head 
  link(rel='stylesheet', href='/stylesheets/main.css')

block content
  header#hero-section.container
    .hero.d-flex
      .dark-overlay.d-flex.align-items-center
        .wrapper 
          .hero__title 
            h2 Welcome.
            h3 Millions of movies, TV shows to discover. 
              span.text-nowrap Explore now.
          .hero__search 
            form#search_form(action='/search', method='GET')
              label
                input.form-control#search-input(type='text' placeholder="Search for a movie, tv show...." aria-label="Movie or tv show title" aria-describedby='search-input')           
              button.btn.btn-secondary(type='submit') Search
  main.container
    section#popular.card_section
      .content_wrapper
        .content_title 
          h2= popular.title
        .content 
          .scroller
           each movie in popular.movies
            .card.card--style_1 
              .card__image
                a.wrapper(href='#')
                  img(src= movie.poster)
              .content
                h2
                  a(href='')= movie.title
                p= movie.releaseDate
    section#trending.card_section
      .content_wrapper
        .content_title 
          h2= trending.title
        .content 
          .scroller
           each movie in trending.movies 
            .card.card--style_1 
              .card__image
                a.wrapper(href='#')
                  img(src= movie.poster)
              .content
                h2
                  a(href='')= movie.title
                p= movie.releaseDate
    section#free.card_section
      .content_wrapper
        .content_title 
          h2= freeWatch.title
        .content 
          .scroller
           each movie in freeWatch.movies
            .card.card--style_1 
              .card__image
                a.wrapper(href='#')
                  img(src= movie.poster)
              .content
                h2
                  a(href='')= movie.title
                p= movie.releaseDate



    
